
<table class="table">
    <thead>
    <tr>
        <th>Medecin</th>
        <th>Date</th>
        <th>Heure</th>
        <th>modifier RDV</th>
        <th>Annuler RDV</th>
    </tr>
    </thead>

    <tbody>
    {% for i in rdvall %}

    <tr>
        <th>{{ i.medecin.nom }} {{ i.medecin.prenom }}</th>
        <th scope="row">{{ i.date }}</th>
        <td>{{ i.heure }}</td>
        <td><button data-toggle="modal" data-target="#edit" value="id"><span class="glyphicon glyphicon-pencil"></span>{{ i.id }} </button></td>
        <td><button><a href="{{ path('delete_rdv_user',{'id': i.id }) }}"> <span class="glyphicon glyphicon-remove"></span></a> </button></td>

    </tr>



    {% endfor %}
    </tbody>
</table>
