{% trans_default_domain 'FOSUserBundle' %}




<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Login &amp; Register Templates</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="{{ asset('sign/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('sign/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('sign/css/form-elements.css') }}">
    <link rel="stylesheet" href="{{ asset('sign/css/style.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

<{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">

            {#<div class="row">#}
                {#<div class="col-sm-8 col-sm-offset-2 text">#}
                    {#<h1><strong>Bootstrap</strong> Login &amp; Register Forms</h1>#}
                    {#<div class="description">#}
                        {#<p>#}
                            {#This is a free responsive <strong>"login and register forms"</strong> template made with Bootstrap.#}
                            {#Download it on <a href="http://azmind.com" target="_blank"><strong>AZMIND</strong></a>,#}
                            {#customize and use it as you like!#}
                        {#</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

            <div class="row">
                <div class="col-sm-5">

                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Login to our site</h3>
                                <p>Enter username and password to log on:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form role="form" action="{{ path("fos_user_security_check") }}" method="post" class="login-form">
                                {% if csrf_token %}
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                {% endif %}
                                <div class="form-group">
                                    <label class="sr-only" for="form-username">Username</label>
                                    <input type="text" name="_username" placeholder="Username..." class="form-username form-control" id="username" required="required">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">Password</label>
                                    <input type="password" name="_password" placeholder="Password..." class="form-password form-control" id="password" required="required">
                                </div>

                                <input style="background-color:#00b2ff;color: white;width: 200px;margin-left: 70px; " class="btn" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                            </form>
                        </div>
                    </div>

                    <div class="social-login">
                        <h3>...or login with:</h3>
                        <div class="social-login-buttons">
                            <a class="btn btn-link-2" href="#">
                                <i class="fa fa-facebook"></i> Facebook
                            </a>
                            <a class="btn btn-link-2" href="#">
                                <i class="fa fa-twitter"></i> Twitter
                            </a>
                            <a class="btn btn-link-2" href="#">
                                <i class="fa fa-google-plus"></i> Google Plus
                            </a>
                        </div>
                    </div>

                </div>

                <div class="col-sm-1 middle-border"></div>
                <div class="col-sm-1"></div>

                <div class="col-sm-5">

                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Sign up now</h3>
                              <a href="{{ path('fos_user_registration_register') }}">  <input style="background-color:#00b2ff;color: white;width: 200px;margin-left: 70px; " class="btn" type="submit" id="_submit" name="_submit" value="sign-up " /></a>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">

            <div class="col-sm-8 col-sm-offset-2">
                <div class="footer-border"></div>
                <p>Made by Anli Zaimi at <a href="http://azmind.com" target="_blank"><strong>AZMIND</strong></a>
                    having a lot of fun. <i class="fa fa-smile-o"></i></p>
            </div>

        </div>
    </div>
</footer>

<!-- Javascript -->
<script src="{{ asset('sign/js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ asset('sign/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('sign/js/jquery.backstretch.min.js') }}"></script>
<script src="{{ asset('sign/js/scripts.js') }}"></script>

<!--[if lt IE 10]>
<script src="{{ asset('sign/js/placeholder.js') }}"></script>
<![endif]-->

</body>



