{% trans_default_domain 'FOSUserBundle' %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Login &amp; Register Templates</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="{{ asset('sign/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('sign/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('sign/css/form-elements.css') }}">
    <link rel="stylesheet" href="{{ asset('sign/css/style.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

</head>
<body>




<div class="top-content">

    <div class="inner-bg">
        <div class="container" style="position: relative;margin-left: 700px;">

            <div class="col-sm-5">

                <div class="form-box">
                    <div class="form-top" style="">
                        <div class="form-top-left">
                            <h3>Sign up now</h3>

                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-pencil"></i>
                        </div>
                    </div>

                    <div class="form-bottom">

                        {#<form role="form" action="{{ path('fos_user_registration_register') }}" method="post" class="registration-form fos_user_registration_register">#}
                            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                            <div class="form-group">
                                {#<label class="sr-only " for="form-first-name">Nom</label>#}
                                {#<input type="text" name="nom" placeholder="Nom.." class="form-first-name form-control" id="form-first-name">#}
                                {{ form_widget(form.nom,{'attr':{'class':'form-first-name form-control','placeholder':'Nom'}}) }}
                            </div>
                            <div class="form-group">
                                {#<label class="sr-only " for="form-first-name">Prenom</label>#}
                                {#<input type="text" name="nom" placeholder="Nom.." class="form-first-name form-control" id="form-first-name">#}
                                {{ form_widget(form.prenom,{'attr':{'class':'form-first-name form-control','placeholder':'Prenom'}}) }}
                            </div>
                            <div class="form-group">
                                {#<label class="sr-only" for="form-last-name">Email</label>#}
                                {#<input type="text" name="prenom" placeholder="Prenom..." class="form-last-name form-control" id="form-last-name">#}
                                {{ form_widget(form.email,{'attr':{'class':'form-first-name form-control','placeholder':'email'}}) }}
                            </div>
                            <div class="form-group">
                                {#<label class="sr-only" for="form-email">Username</label>#}
                                {#<input type="text" name="email" placeholder="Email..." class="form-email form-control" id="form-email">#}
                                {{ form_widget(form.username,{'attr':{'class':'form-first-name form-control','placeholder':'Username'}}) }}
                            </div>
                            <div class="form-group">
                                {#<label class="sr-only" for="form-email">Password</label>#}
                                {#<input type="text" name="email" placeholder="Email..." class="form-email form-control" id="form-email">#}
                                {{ form_widget(form.plainPassword.first,{'attr':{'class':'form-first-name form-control','placeholder':'Password'}}) }}
                            </div>
                             <div class="form-group">
                                 {#<label class="sr-only" for="form-email">Password</label>#}
                                 {#<input type="text" name="email" placeholder="Email..." class="form-email form-control" id="form-email">#}
                                    {{ form_widget(form.plainPassword.second,{'attr':{'class':'form-first-name form-control','placeholder':'Confirm Password'}}) }}
                            </div>



                          <div class="form-group">
                                {#<label class="sr-only" for="form-email">Roles</label>#}
                                {#<input type="text" name="email" placeholder="Email..." class="form-email form-control" id="form-email">#}
                                {{ form_widget(form.roles,{'attr':{'class':'form-first-name form-control','placeholder':'Password'}}) }}
                            </div>
                            {#<input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-success" style="width: 100%"/>#}
                            {{ form_widget(form.Valider,{'attr':{'class':'btn btn-success'}}) }}
                        {{ form_end(form) }}
                            {#<button type="submit" class="btn" ><a href="{{ path('medecin_ajout') }}" style="color: white">Register </a> </button>#}


                        {#</form>#}
                </div>

            </div>



            </div>
    </div>
</div>


<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">

            <div class="col-sm-8 col-sm-offset-2">
                <div class="footer-border"></div>
                <p>Made by Anli Zaimi at <a href="http://azmind.com" target="_blank"><strong>AZMIND</strong></a>
                    having a lot of fun. <i class="fa fa-smile-o"></i></p>
            </div>

        </div>
    </div>
</footer>

<!-- Javascript -->
<script src="{{ asset('sign/js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ asset('sign/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('sign/js/jquery.backstretch.min.js') }}"></script>
<script src="{{ asset('sign/js/scripts.js') }}"></script>

<!--[if lt IE 10]>
<script src="{{ asset('sign/js/placeholder.js') }}"></script>
<![endif]-->



</body>