<div class="titleBox">
   <h4> <label style="
background-color:#D0E3FA;
border:1px solid #6495ed;
 cellpadding:15 ;
 cellspacing : 10">Comment Box</label></h4>
</div>
    {% for i in commentaires %}



    <table style="border:3px solid #6495ed;
border-collapse:collapse;
width:90%;
margin:auto;">

        <tbody>

            {% if i.annonce.id==ida %}




                    <div class="actionBox">
                        <td class="commentList">
                            <th style="background-color:#EFF6FF">
                                <h6>    {{ i.getUtilisateur }} a dit : </h6>

                            </th>
                            <th style="font-family: 'Comic Sans MS', cursive; background-color:#EFF6FF">
                                    <p>{{ i.commentaire }}</p>
                            </th>
                        <th>
                            <p>
                                {{i.creationDatecom|date("m/d/y")}}
                                {{time_diff(i.CreationDatecom)}}</p>
                        </th>
                        </td>

                    </div>









            {% endif %}

        </tbody>
    </table>

        <script src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script>
            function savaData() {
                var com= $('#com').val();

                $.ajax({
                    type: "POST",
                    url: "{{ path('edit') }}",
                    data: {'id':id,'com':com},
                    success: function (data ) {
                        console.log(data);
                        $("#result").html(data);
                    }

                });}
        </script>

        {% endfor %}

