
{% extends"::baseaccueil.html.twig" %}

    {% block body %}


        <script src="{{ asset('bundles/ckeditor/ckeditor.js') }}"></script>



        <!--banner-->
        <div class="banner clearfix"></div>
        <div class="page-top clearfix">
            <!--page main heading-->
            <div class="container">
                <h1 class="entry-title">Evenement</h1>
                <nav class="bread-crumb">
                    <ul class="breadcrumb clearfix">
                        <li><a href="#">événements</a><span class="divider"></span></li>
                        <li class="active">créer événements</li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="contact-page clearfix">
            <div class="container">

                <!--contact form section-->
                <div class="blog-page-single clearfix">
                    <article class="page type-page hentry  clearfix">
                        <div class="full-width-contents">
                            <div class="entry-content">
                                <h2>Creer un événements</h2>
                                <p>veuiller remplir ces champs pour creer un événements<br />
                                </p>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="clearfix"></div>
                <!--contact form-->
                {{ form_start(form) }}
                <div class="row">
                    {{ form_widget(form.titre) }}
                    {{ form_widget(form.lat) }}
                    {{ form_widget(form.lng) }}
                    {{ form_widget(form.localite) }}
                    {{ form_widget(form.date) }}
                    {{ form_widget(form.description) }}
                    {{ form_widget(form.image) }}
                    <input id="contact-form-submit" class="form-submit-btn" type="submit" value="AJOUTER">
                    <img src="{{ asset('images/loader.gif') }}" id="contact-loader" class="ajax-loader" alt="Loading...">
                    <div id="error-container"></div>
                    <div id="response-container"></div>
                    {{ form_end(form) }}
                </div>

                <!--contact detail-->
                <div class="col-lg-6 col-md-6 col-sm-6  col-lg-offset-1 col-md-offset-1">
                    <div class="contact-sidebar clearfix">
                        <article class="address-area clearfix">
                            <h2><span>Medical Press</span></h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <address>121 King Street, Melbourne
                                        Victoria 3000 Australia</address>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <strong>Phone :</strong>+1-800-123-4567
                                    </p>
                                    <p>
                                        <strong>Fax :</strong>+1-123-456-7890
                                    </p>
                                </div>
                            </div>
                        </article>
                        <!--social icons-->
                        <article class="social-icon clearfix">
                            <h5><span>Social :</span></h5>
                            <ul class="clearfix">
                                <li class="twitter-icon"><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="facebook-icon"><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="google-icon"><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="linkedin-icon"><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li class="instagram-icon"><a target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
                                <li class="youtube-icon"><a target="_blank" href="#"><i class="fa fa-youtube"></i></a></li>
                                <li class="skype-icon"><a target="_blank" href="skype:skypeusername?add"><i class="fa fa-skype"></i></a></li>
                                <li class="rss-icon"><a target="_blank" href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </article>
                    </div>
                </div>
            </div>

        </div>


        </div>

    {% endblock %}


